<!DOCTYPE html>
<html>
<head>
	<title>The Nature</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/CSS/slide.css">
	<link rel="stylesheet" href="/CSS/nature.css">
	<link rel="stylesheet" href="/CSS/animate.css">
	<script src="/jquery-3.2.1.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" id="nav">

		<div class="container" id="home">
			<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
			  </button>
			  
					
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
					
				 	<ul class="nav navbar-nav navbar-left">
							<li>
									<a href="/">
										<h3 class="hov4 ui center aligned icon header" id="yellow">
											<i class="hov4s white circular align justify icon"></i>
											Home
										</h3>
									</a>
								</li> 
							<li>
									<a href="/about">
										<h3 class="hov3 ui center aligned icon header" id="yellow">
											<i class="hov3s white circular chevron down icon"></i>
											About Us
										</h3>
									</a>
								</li> 
								<li>
										<!-- <h1 class="ui small header"><a class="navbar-brand" href="index.html">TheAfricaNature</a></h1> -->
										<a href="/services">
											<h3 class="hov2 ui center aligned icon header" id="yellow">
												<i class="hov2s white circular tag icon"></i>
												Our Services
											</h3>
										</a>
								</li>
						<li>
							<a href="#">
								<h3 class="hov1 ui center aligned icon header" id="yellow">
									<i class="hov1s white circular map signs icon"></i>
									Itineraries
								</h3>
							</a>
						</li>

					 </ul>
					 <ul class="nav navbar-nav navbar-right">
								<li >
									<a href="#" class="hov0">
										<h3 class="ui center aligned icon header" id="yellow">
											<i class="hov0s white circular send icon"></i>
											Contact Us
										</h3>
									</a>
								</li>
					 </ul>

			</div>
		</div>
    </nav>
        <div id="videoBlock" class="container ui grid">
            <div class="row">
               
                    <div class="sixteen wide column" id="aboutus">
                            <h1>
                                About US
                            </h1>
                            <div class="ui divider"></div>
                            <p>
                                    the nature is a  tour operator company based in East-Africa, having been in tour operation activities for more than 10 years, our thirteen administration staff and six tour guides will make your tour remarkable.                     
                            </p>
                    </div>
            </div>
           
        </div>
    
    <script src="/JS/thenature.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>

</html>

