<!DOCTYPE html>
<html>
<head>
	<title>The Nature</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="./Semantic-UI-CSS-master/semantic.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./CSS/slide.css">
	<link rel="stylesheet" href="./CSS/nature.css">
	<link rel="stylesheet" href="./CSS/animate.css">
	<script src="./jquery-3.2.1.min.js"></script>
</head>
<style>
.mySlides {display:none;}
</style>
<body>
	<nav class="navbar navbar-default" id="nav">

		<div class="container" id="home">
			<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
			  </button>
			  
					
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
					
				 	<ul class="nav navbar-nav navbar-left">
							<li>
									<a href="index.html">
										<h3 class="hov4 ui center aligned icon header" id="yellow">
											<i class="hov4s white circular align justify icon"></i>
											Home
										</h3>
									</a>
								</li> 
							<li>
									<a href="#">
										<h3 class="hov3 ui center aligned icon header" id="yellow">
											<i class="hov3s white circular chevron down icon"></i>
											About Us
										</h3>
									</a>
								</li> 
								<li>
										<!-- <h1 class="ui small header"><a class="navbar-brand" href="index.html">TheAfricaNature</a></h1> -->
										<a href="#">
											<h3 class="hov2 ui center aligned icon header" id="yellow">
												<i class="hov2s white circular map signs icon"></i>
												Destinations
											</h3>
										</a>
								</li>
						<li>
							<a href="#">
								<h3 class="hov1 ui center aligned icon header" id="yellow">
									<i class="hov1s white circular map outline icon"></i>
									Itineraries
								</h3>
							</a>
						</li>

					 </ul>
					 <ul class="nav navbar-nav navbar-right">
								<li >
									<a href="#" class="hov0">
										<h3 class="ui center aligned icon header" id="yellow">
											<i class="hov0s white circular send icon"></i>
											Contact Us
										</h3>
									</a>
								</li>
					 </ul>

			</div>
		</div>
	</nav>
    <div id="second" class="ui grid">
		<div class="eight wide column ui segment inverted">					
						<div class="w3-content w3-section" style="max-width:700px">
								<h1 class="ui dividing header">Some of the amazing places</h1>
						  <img class="mySlides w3-animate-fading" src="./assets/slide1.jpg" style="width:100%">
						  <img class="mySlides w3-animate-fading" src="./assets/slide2.jpg" style="width:100%">
						  <img class="mySlides w3-animate-fading" src="./assets/slide3.jpg" style="width:100%">
						  <img class="mySlides w3-animate-fading" src="./assets/slide4.jpg" style="width:100%">
						</div>
						
		</div>
		<div class="one wide column">
				
		</div>
		<div class="six wide column" id="about">
			<h1 class="ui dividing header" id="us">Welcome To TheAfricaNature</h1>
			<p>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
			</p>
		</div>
		<div class="four wide column">

		</div>
		
		<div class="seven wide column">
				
				<form class="ui form inverted">
						<h2 class="ui dividing header">Contact Us</h2>
						<div class="sixteen wide column">
								<h4 id="h4">Please do not hesitate to contact us if you have any questions regarding our services.</h4>		
								</div>
						<div class="fields">
						  <div class="field">
							<label>First name</label>
							<input type="text" placeholder="First Name">
						  </div>
						  <div class="field">
							<label>Middle name</label>
							<input type="text" placeholder="Middle Name">
						  </div>
						  <div class="field">
						<label>Last name</label>
						<input type="text" placeholder="Last Name">
					  </div>
					 
					</div>
					<div class="field">
							<label>Email:</label>
							<input type="email" placeholder="Email" required>
						</div>
					<div class="field">
							<label>Your Message goe here:</label>
							<textarea style="margin-top: 0px; margin-bottom: 0px; height: 139px;"></textarea>
					</div>
					<div class="fields">
							<div class="field">
							  <label>Phone Number:</label>
							  <input type="text" placeholder="tel">
							</div>
							<div class="field">
							  <label>Nationality</label>
							  <input type="text" placeholder="Nationality">
							</div>
					</div>
					<div class="field">
							<div class="ui checkbox">
							  <input type="checkbox" tabindex="0" class="hidden">
		     			  <label>Gorillas trekking</label>
						</div>
					</div>
					<button class="ui button inverted yellow" type="submit">Send</button>
				</form>
		</div>
	</div>
		<script src="./JS/thenature.js"></script>
		<script src="./bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>

</html>
