<!DOCTYPE html>
<html>
<head>
	<title>The Nature</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/CSS/slide.css">
	<link rel="stylesheet" href="/CSS/nature.css">
    <link rel="stylesheet" href="/CSS/animate.css">
    <link rel="stylesheet" href="/CSS/service.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/jquery-3.2.1.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" id="nav">

		<div class="container" id="home">
			<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
			  </button>
			  
					
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
					
				 	<ul class="nav navbar-nav navbar-left">
							<li>
									<a href="/">
										<h3 class="hov4 ui center aligned icon header" id="yellow">
											<i class="hov4s white circular align justify icon"></i>
											Home
										</h3>
									</a>
								</li> 
							<li>
									<a href="/about">
										<h3 class="hov3 ui center aligned icon header" id="yellow">
											<i class="hov3s white circular chevron down icon"></i>
											About Us
										</h3>
									</a>
								</li> 
								<li>
										<!-- <h1 class="ui small header"><a class="navbar-brand" href="index.html">TheAfricaNature</a></h1> -->
										<a href="#">
											<h3 class="hov2 ui center aligned icon header" id="yellow">
												<i class="hov2s white circular tag icon"></i>
												Our Services
											</h3>
										</a>
								</li>
						<li>
							<a href="#">
								<h3 class="hov1 ui center aligned icon header" id="yellow">
									<i class="hov1s white circular map signs icon"></i>
									Itineraries
								</h3>
							</a>
						</li>

					 </ul>
					 <ul class="nav navbar-nav navbar-right">
								<li >
									<a href="#" class="hov0">
										<h3 class="ui center aligned icon header" id="yellow">
											<i class="hov0s white circular send icon"></i>
											Contact Us
										</h3>
									</a>
								</li>
					 </ul>

			</div>
		</div>
    </nav>
    <div class="container">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen wide column" id="service">
                    <h1>
                        OUR SERVICES
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>
    <div class="timeline">
            <div class="containers left">
              <div class="content">
                <h2>Gorilla Tracking</h2>
                <div class="ui divider"></div>
                <p>
                        Gorilla tracking in Rwanda is often described as “life changing” and with good reason. With only an estimated 880 Gorillas left in the world, to see these gentle creatures in their natural habitat is a truly unique moment.
                </p>
                <button class="ui inverted yellow button">Learn More</button>
                </div>
            </div>
            <div class="containers right">
              <div class="content">
                <h2>Primate Tracking</h2>
                <div class="ui divider"></div>
                <p>
                        Beyond the gorillas that made Rwanda famous, wildlife junkies will be thrilled to know that they can track three more species of primate on their Rwandan holiday: Chimpanzees, Black-and-white colobus monkeys, and the endangered Golden monkey. 
                </p>
                <button class="ui inverted yellow button">Learn More</button>
              </div>
            </div>
            <div class="containers left">
              <div class="content">
                <h2>Birding</h2>
                <div class="ui divider"></div>
                <p>
                        When it comes to birding, Rwanda is amongst Africa's most exciting destinaitons - within this relatively small and compact country, there over 1450 bird species of which 27 are Albertine Rift endemics.
                </p>
                <button class="ui inverted yellow button">Learn More</button>
            </div>
            </div>
            <div class="containers right">
              <div class="content">
                <h2>Congo Nile Trail</h2>
                <div class="ui divider"></div>
                <p>
                        227 km (141 miles) of beautiful landscapes, including rolling hills and clear water. The entire trek can be completed in a 10- day hike. However, the trip can be done in sections if travelers do not have the time to complete the entire trail. Trails give stunning views of the Lake Kivu coastline and offer adventurous travelers an exciting way to discover Rwanda.
                </p>
                <button class="ui inverted yellow button">Learn More</button> 
            </div>
            </div>
            <div class="containers left">
              <div class="content">
                    
                <h2>Cultural Experiences</h2>
                <div class="ui divider"></div>
                <p>
                        While it might have been the gorillas that entice you to Rwanda, it’s the people of Rwanda who will keep you coming back. Ancient traditions of honour and hospitality run strong here, and anybody who takes the time to discover Rwandan culture for themselves will find a proud and unique people,...
                </p>
                <button class="ui inverted yellow button">Learn More</button> 
            </div>
            </div>
            <div class="containers right">
              <div class="content">
                    
                <h2>Game Safaris</h2>
                <div class="ui divider"></div>
                <p>
                        Experience a classic African Safari in beautiful Akagera National Park. With Lake Ihema in the background and cooler temperatures, this is a safari experience unlike any of Rwanda’s neighbors.
                        </p>
                        <p>
                        Akagera is located approximately 110 km from Kigali ...
                </p>
                <button class="ui inverted yellow button">Learn More</button> 
            </div>
            </div>
            <div class="containers left">
                    <div class="content">
                      <h2>Musanze Caves</h2>
                      <div class="ui divider"></div>
                      <p>
                            Formed by centuries of geologic activity centred around the Virunga volcanoes next door, the 1.25-mile long Musanze caves are located just outside of the town they share a name with, and are only a 90-minute drive from Kigali. With an enormous opening (and an equally huge number of bats resident inside),...
                      </p>
                      <button class="ui inverted yellow button">Learn More</button>
                    </div>
                  </div>
                  <div class="containers right">
                    <div class="content">
                      <h2>Helicopter Tours</h2>
                      <div class="ui divider"></div>
                      <p>
                            Indulge in a helicopter ride above the land of a thousand hills to get a birdseye view of our endless rolling green hills and pristine water banks.
                       </p>
                       <p>     
                            Helicopter is also a rapid way to get from one attraction to another. Heli-safaris and transportation are offered by Akagera Aviation.
                      </p>
                      <button class="ui inverted yellow button">Learn More</button>
                    </div>
                  </div>
                  <div class="containers left">
                        <div class="content">
                          <h2>Festivals</h2>
                          <div class="ui divider"></div>
                          <p>
                                Whatever you’re into, coordinating a trip to Rwanda with one of our award-winning festivals is the cherry on top of any trip to the land of a thousand hills. Most festivals fall in the northern summer months, and there’s an event for everyone!...
                          </p>
                          <button class="ui inverted yellow button">Learn More</button>
                        </div>
                      </div>
                      <div class="containers right">
                        <div class="content">
                          <h2>Kayaking & Canoeing</h2>
                          <div class="ui divider"></div>
                          <p>
                                f you're looking for a fun outdoors activity, try kayaking on Lake Kivu or canoeing near the gorillas with Kingfisher Journeys.
                                </p>
                                <p>
                                On Lake Kivu, they organise short excursions from Gisenyi and Kibuye as well as full-day and overnight journeys that are an exciting way to discover some of the most spectacular scenery in Rwanda...
                          </p>
                          <button class="ui inverted yellow button">Learn More</button>
                        </div>
                      </div>
          </div>

          <script src="/JS/thenature.1.js"></script>
          <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  </body>
  
  </html>